/* ----------- */
/* Общие стили */
/* ----------- */

/* убрать отступы по умолчанию */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, form, footer, header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

h1 {
    font-size: 1.5em;
}

* {
    box-sizing: border-box;
}

body {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	font-family: Arial;
    background-color: aliceblue;
}

/* ---------------- */
/* Стили для хэдера */
/* ---------------- */

header {
    height: 4em;
    background-color:lavender;
}

header p {
    font-size: x-large;
    text-align: center;
    padding-top: 0.7em;
    color: RGB(22, 22, 112);
}

/* убрать подчеркивание ссылок */
a.header-link { 
    text-decoration: none; 
}

a.header-link { 
    text-decoration: none; 
}

a.header-link { 
    text-decoration: none; 
}

a.header-link { 
    text-decoration: none; 
}

a.header-link{ 
    text-decoration: none; 
}

/* -------------------------------- */
/* Стили для основной части страниц */
/* -------------------------------- */

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* основной контент страницы */
#content {
    width: 500px;
    min-width: 500px;
    flex-basis: auto;
    flex-shrink: 1;
    margin: 1em;
}

/* кнопки либо формы для пользователя */
#user-menu {
    background-color: lavender;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 30px;
    border-radius: 10px;
}

/* пустые блоки по бокам от основного блока */
.empty-block {
    width: auto;
    flex-basis: auto;
    background-color: blueviolet;
    flex-shrink: 4;
}

/* информационные сообщения */
#message {
    background-color: lightskyblue;
    border: 1px solid rgb(20, 86, 186);
    color: rgb(20, 86, 186);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
}

/* кнопки */
.button {
    padding: 1em;
    border-radius: 5px;
    background-color: RGB(22, 22, 112);
    color: white;
    margin-top: 1em;
    display: block;
    text-align: center;
    width: 20em;
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
    background-color: RGB(12, 12, 61);
}

/* заголовки */
#title h1 {
    text-align: center;
    color: RGB(22, 22, 112);
    margin-bottom: 0.5em;
}

/* убрать подчеркивание для текста внутри кнопок-ссылок */ 
a.button:link { 
    text-decoration: none; 
}

a.button:visited { 
    text-decoration: none; 
}

a.button:hover { 
    text-decoration: none; 
}

a.button:active { 
    text-decoration: none; 
}

/* ---------------- */
/* Стили для футера */
/* ---------------- */

footer {
    width: 11em;
    margin: 1em auto;
}

footer p {
    color: RGB(29, 29, 150);
}

/* -------------- */
/* Стили для форм */
/* -------------- */

form p {
    font-size: 1em;
}

.right-side input {
   border-radius: 5px;
   padding: 0.3em; 
   width: 17em;
}

input[type="submit"] {
    margin-top: 1.5em;
    font-size: 1em;
}

form div.flex-container {
    margin-top: 1em;
}

.error-line {
    display: flex;
    flex-direction: row-reverse;
}

.error {
    font-size: 0.9em;
    color: red;
}

/* -------------------------- */
/* Стили для страницы профиля */
/* -------------------------- */

#logout-button {
    font-size: 1em;
}